[submodule "reference/zapret2"]
	path = reference/zapret2
	url = git@github.com:bol-van/zapret2.git
[submodule "reference/blockcheckw-prototype"]
	path = reference/blockcheckw-prototype
	url = ../greynet
